In [3]:
tup1 = ()  #Empty tuple

In [4]:
tup2 = (10,30,60)  #tuple of integer values

In [5]:
tup3 = (10.77,30.66,60.89)  #tuple of float numbers

In [6]:
tup4 = ('one', 'two', 'three') #tuple of strings

In [9]:
tup5 = ('Indrajeet',25,(50, 100),(150,90)) #Nested tuples

In [10]:
tup6 = (100, 'Indrajeet', 17.765)  #Tuple of mixed data types

In [11]:
tup7 = ('Indrajeet', 25,[50,100],[150,90], {'john','David '} , (99,22,33))

In [12]:
len(tup7) #Length of the list

6

In [13]:
tup2[0] #Retrive the first element of the tuple

10

In [14]:
tup4[0] #Retrive the first element of the tuple

'one'

In [16]:
tup4[0][0] #Nested indexing - Access the first character of the first element

'o'

In [17]:
tup4[-1] #last item of the tuple

'three'

In [18]:
tup5[-1] #Last item of the tuple

(150, 90)

Tuple Slicing

In [20]:
mytuple =('one','two','three','four','five','six','seven','eight')

In [21]:
mytuple[0:3] #Return all the item from 0th to 3rd index location excludind the item

('one', 'two', 'three')

In [22]:
mytuple[:3] #Retur first three item

('one', 'two', 'three')

In [23]:
mytuple[:2] #Return first two item

('one', 'two')

In [25]:
mytuple[-3:] #Return last three item

('six', 'seven', 'eight')

In [26]:
mytuple[-2:] #Return last two items

('seven', 'eight')

In [27]:
mytuple[-1] #Return last item of the tuple

'eight'

In [28]:
mytuple[:] #Return whole the tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

Remove & change items

In [29]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [30]:
del mytuple

Looping Through a tuple

In [32]:
mytuple =('one','two','three','four','five','six','seven','eight')

In [33]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [35]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [36]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [37]:
"one" in mytuple  #check if 'one' exist in the list

True

In [38]:
"ten" in mytuple  #check if 'ten' exist in the list

False

In [40]:
if 'three' in mytuple:     #Check if 'three' exists in the tuple
    print('three is presrent in the tuple')
else:
    print('three is not present in the table')

three is presrent in the tuple

In [41]:
if 'eleven' in mytuple:
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

Index position

In [43]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [46]:
mytuple.index('one') #Index of first element equal to 'one'

0

In [47]:
mytuple.index('five') #Index of first element equal to 'five'

4

In [50]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [51]:
mytuple1 =(43,67,99,12,6,90,67)

In [52]:
sorted(mytuple1) #Returns a new sorted lists and sosen't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [55]:
sorted(mytuple1, reverse=True) #sort in descending order

[99, 90, 67, 67, 43, 12, 6]