#

In [2]:
myset = {1,2,3,4,5} #set of number
myset

{1, 2, 3, 4, 5}

In [3]:
len(myset) #length of the set

5

In [4]:
my_set = {1,1,2,2,3,4,5,5} #duplicate elements are not alliowed
my_set

{1, 2, 3, 4, 5}

In [5]:
myset1 = {1.79,2.08,3.99,4.56,5.45} #set of float number
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [6]:
myset2 = {'indrajeet', 'john', 'tyrion'} #set of string
myset2

{'indrajeet', 'john', 'tyrion'}

In [7]:
myset4 = set() #create an empty set
print(type(myset4))

<class 'set'>

In [8]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

In [9]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

seven
two
one
eight
three
six
four
five

In [10]:
for i in enumerate(myset):
    print(i)

(0, 'seven')
(1, 'two')
(2, 'one')
(3, 'eight')
(4, 'three')
(5, 'six')
(6, 'four')
(7, 'five')

In [11]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [12]:
'one' in myset

True

In [13]:
"ten" in myset

False

In [15]:
if "three" in myset:
    print("three is present in myset")
else:
    print("three is not present in myset")

three is present in myset

In [16]:
if "eleven" in myset:
    print("eleven is present in myset")
else:
    print("eleven is not present in myset")

eleven is not present in myset

In [17]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [22]:
myset.add('Nine')
myset

{'NINE',
 'Nine',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [23]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'Nine',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [24]:
myset.remove('NINE')
myset

{'ELEVEN',
 'Nine',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [25]:
myset.discard('TEN')
myset

{'ELEVEN',
 'Nine',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [26]:
myset.clear()
myset

set()

In [27]:
del myset
myset

NameError: name 'myset' is not defined

In [28]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
myset1 = myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [30]:
id(myset), id(myset1)

(2317031530656, 2317031530656)

In [31]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [32]:
id(my_set)

2317031532672

In [33]:
myset.add("nine")
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [34]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [35]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [36]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [37]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
A & B

{4, 5}

In [41]:
A - B

{1, 2, 3}

In [42]:
A.difference(B)

{1, 2, 3}

In [43]:
B - A

{6, 7, 8}

In [46]:
B.difference_update(A)

In [47]:
A ={1,2,3,4,5}
B ={4,5,6,7,8}

In [48]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [49]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [52]:
A1 = {1,2,3,4,5,6,7,8,9}
B1= {3,4,5,6,7,8}
C1= {10,20,30,40}

In [53]:
B1.issubset(A1)

True

In [55]:
A1.issuperset(B1)

True

In [56]:
C1.isdisjoint(A1)

True

In [57]:
B1.isdisjoint(A1)

False

In [58]:
A

{1, 2, 3, 4, 5}

In [59]:
sum(A)

15

In [61]:
max(A)

5

In [62]:
min(A)

1

In [63]:
len(A)

5

In [64]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [65]:
D = sorted(A,reverse=True)
D

[5, 4, 3, 2, 1]

In [66]:
sorted(D)

[1, 2, 3, 4, 5]

Dictionary

In [67]:
mydict ={}
mydict

{}

In [68]:
mydict = {1: 'one' , 2: 'two', 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [69]:
mydict = {'A': 'one','B':'two', 'C': 'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [70]:
mydict = {1:'one', 'A': 'two', 3: 'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [71]:
mydict.keys()

dict_keys([1, 'A', 3])

In [73]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [74]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [78]:
mydict = {1: 'one', 2:'two', 'A':['Indrajeet','john','maria']}
mydict

{1: 'one', 2: 'two', 'A': ['Indrajeet', 'john', 'maria']}

In [81]:
mydict = {1:'one', 2: 'two', 'A' :['Indrajeet','John','Maria'], 'B': ('Bat','cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['Indrajeet', 'John', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [86]:
keys = {'a', 'b','c','d'}
mydict3 = dict.fromkeys(keys)
mydict3

{'c': None, 'd': None, 'b': None, 'a': None}

In [90]:
keys = {'a', 'b', 'c' , 'd'}
value = 10
mydict4 = dict.fromkeys(keys , value)
mydict4

{'c': 10, 'd': 10, 'b': 10, 'a': 10}

In [95]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict4 = dict.fromkeys(keys , value)
mydict4

{'c': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30]}

In [96]:
value.append(40)
mydict4

{'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

Accessing Items

In [97]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [98]:
mydict[1]

'one'

In [99]:
mydict.get(1)

'one'

In [100]:
mydict6 = {'Name': 'Indrajeet' , 'ID': 123456 , 'DOB': 2003, 'Job': 'Data-scientist'}
mydict6

{'Name': 'Indrajeet', 'ID': 123456, 'DOB': 2003, 'Job': 'Data-scientist'}

In [101]:
mydict6['Name']

'Indrajeet'

In [103]:
mydict6.get('Job')

'Data-scientist'

Add, Remove & Change Items

In [107]:
mydict6 = {'Name':'Indrajeet','ID':12345, 'Address' :'USA'}
mydict6

{'Name': 'Indrajeet', 'ID': 12345, 'Address': 'USA'}

In [106]:
mydict6['DOB']=2003
mydict6['Address']='Banglor'
mydict6

{'Name': 'Indrajeet', 'ID': 12345, 'Address': 'Banglor', 'DOB': 2003}

In [108]:
mydict6['Job']= 'CEO'
mydict6

{'Name': 'Indrajeet', 'ID': 12345, 'Address': 'USA', 'Job': 'CEO'}

In [109]:
mydict6.pop('Job')
mydict6

{'Name': 'Indrajeet', 'ID': 12345, 'Address': 'USA'}

In [110]:
mydict6.popitem()   #random item is removed

('Address', 'USA')

In [111]:
mydict6

{'Name': 'Indrajeet', 'ID': 12345}

In [112]:
del[mydict6['ID']]
mydict6

{'Name': 'Indrajeet'}

In [113]:
mydict6.clear()
mydict6

{}

Copy Dictionary

In [115]:
mydict = {'Name': 'Indrajeet', 'ID': 12345, 'DOB':2003, 'Address' : 'USA'}
mydict

{'Name': 'Indrajeet', 'ID': 12345, 'DOB': 2003, 'Address': 'USA'}

In [116]:
mydict7 = mydict

In [117]:
id(mydict), id(mydict7)

(2317062069824, 2317062069824)

In [118]:
mydict2 = mydict.copy()

In [119]:
id(mydict2)

2317062072640

In [120]:
mydict['Address']='Bombay'

In [121]:
mydict

{'Name': 'Indrajeet', 'ID': 12345, 'DOB': 2003, 'Address': 'Bombay'}

In [122]:
mydict7

{'Name': 'Indrajeet', 'ID': 12345, 'DOB': 2003, 'Address': 'Bombay'}

In [123]:
mydict2

{'Name': 'Indrajeet', 'ID': 12345, 'DOB': 2003, 'Address': 'USA'}

In [126]:
mydict1 = {'Name': 'Indrajeet', 'ID': 12345, 'Address' :'USA'}
mydict1

{'Name': 'Indrajeet', 'ID': 12345, 'Address': 'USA'}

Looping Through a Dictionary

In [127]:
mydict1 ={'Name':'Indrajeet', 'ID': 567890, 'DOB' : 2003 , 'Address' : 'usa'}
mydict1

{'Name': 'Indrajeet', 'ID': 567890, 'DOB': 2003, 'Address': 'usa'}

In [129]:
for i in mydict1:
    print(i,':',mydict1[i])

Name : Indrajeet
ID : 567890
DOB : 2003
Address : usa

In [131]:
for i in mydict1:
    print(mydict1[i])

Indrajeet
567890
2003
usa

Dictionary Membership

In [132]:
mydict1 = {'Name': 'Indrajeet', 'ID': 123456, 'DOB':2003, 'Job':'Data scientist'}
mydict1

{'Name': 'Indrajeet', 'ID': 123456, 'DOB': 2003, 'Job': 'Data scientist'}

In [133]:
'Name' in mydict1

True

In [134]:
'Indrajeet' in mydict1

False

In [135]:
'ID' in mydict1

True

In [136]:
'Address' in mydict1

False

In [137]:
mydict1 = {'Name':'Indrajeet','ID':12345678,'DOB':2003, 'JOB': 'Data scientist'}
mydict1

{'Name': 'Indrajeet', 'ID': 12345678, 'DOB': 2003, 'JOB': 'Data scientist'}

In [138]:
all(mydict1)

True

In [ ]:
0