In [1]:
text = input("enter a string :")
char = input("Enter a character to count :")
print(f"occurance of {char}: {text.count(char)}")

enter a string : Indrajeet
Enter a character to count : e

occurance of e: 2

In [4]:
a = input("enter any string :")
print(a.lower())

enter any string : MY NAME IS INDRAJEET THOKE I'M FROM AKOLA MAHARASHTRA

my name is indrajeet thoke i'm from akola maharashtra

In [9]:
num = int(input("enter any number :"))
if num % 10 == 10:
    print("Number is multiple of 10")
else:
    print("Number is not multiple of 10")

enter any number : 100

Number is not multiple of 10

In [12]:
user_input = input("Enter a string")
if user_input.isalpha():
    print("Only Alphabets")
else:
    print("Contain non Alphabets character")

Enter a string indrajeetthoke

Only Alphabets

In [19]:
b = input("Enter a string")
print(len(b.split()))

Enter a string indrajeet jagdish thoke

3

In [24]:
from datetime import datetime
date_str = input("Enter a date (DD MM YYYY): ")
date = datetime.strptime(date_str, "%d %m %Y")
print("Entered date:", date)

Enter a date (DD MM YYYY):  13 10 2003

Entered date: 2003-10-13 00:00:00

In [25]:
c = int(input("Enter any Number"))
if c % 3 == 0 and c % 5 == 0:
    print("Divisible by both 3 and 5")
else:
    print("Not divisible by both 3 and 5")

Enter any Number 15

Divisible by both 3 and 5

In [30]:
x1 = input("Enter a first value")
y1 = input("Enter a secound value")
x1,y1 = y1,x1
print(f"swapped values: x1={x1}, y1{y1}")

Enter a first value 12
Enter a secound value 13

swapped values: x1=13, y112

In [33]:
user_input1 = input("Enter a string :")
print(user_input1.replace(" ",""))

Enter a string : MY NAME IS INDRAJEET JAGDISH THOKE AND I AM FROM AKOLA MAHARASHTRA

MYNAMEISINDRAJEETJAGDISHTHOKEANDIAMFROMAKOLAMAHARASHTRA

In [37]:
import re
email = input("Enter email :")
if re.match(r"[^@]+@[^@]+\.[^@]+",email):
    print("valid email")
else:
    print("invalid email")

Enter email : ijthoke2021@gmail.com

valid email

In [39]:
num1 = int(input("Enter any number :"))
print("cube:", num1**3)

Enter any number : 2

cube: 8

In [42]:
names = input("Enter a name seprated by comma ").split(",")
print("names",names)

Enter a name seprated by comma  INDRAJEET RAJ SHANTANU

names ['INDRAJEET RAJ SHANTANU']

In [45]:
import re
text1 = input("Enter a string :")
numbers = re.findall(r'\d+',text1)
print("Extracted numbers :", numbers)

Enter a string : MY NAME IS INDRAJEET THOKE AND I HAVE A 2 DOGS AND 2 CATS

Extracted numbers : ['2', '2']

In [53]:
numbers = list(map(int,input("Enter numbers separated by spaces :").split()))
print("maximum number :",max(numbers))

Enter numbers separated by spaces : 10 30 1000

maximum number : 1000

In [56]:
while True:
    try:
        num = int(input("Enter a valid number"))
        break
    except valueError :
        print("Invalid input,please enter a number.")

Enter a valid number 12345666

In [57]:
user_input3 = input("Enter a string :")
if any (char.isdigit()for char in user_input3):
    print("Contains digits")
else:
    print("No digits")

Enter a string : indrajeet13

Contains digits

In [58]:
user_input5 = input ("Enter a string :")
if user_input5.isspace():
    print("only white space")
else:
    print("contain non-whitespace characters")

Enter a string : Indrajeet thoke

contain non-whitespace characters

In [61]:
text22 = input("Enter a string: ")
digit_sum = sum(int(digit) for digit in text22 if digit.isdigit())
print("Sum of digits:", digit_sum)

Enter a string:  abc123xyx11

Sum of digits: 8

In [64]:
num44 = int(input("Enter a number :"))
print("Absolute value :",abs(num44))

Enter a number : 44

Absolute value : 44

In [66]:
user_input00 = input("Enter a string :")
if any (char.isupper() for char in user_input00):
    print("contains uppercase letters")
else:
    print("No Uppercase letters")

Enter a string : Indrajeet

contains uppercase letters

In [67]:
celsius = float(input("Enter temperature in celsius :"))
fahrenheit = (celsius * 9/5)+32
print(f"Temperature in fahrenheit :{fahrenheit}")

Enter temperature in celsius : 23

Temperature in fahrenheit :73.4

In [68]:
numbers11 = list(map(int,input("Enter a number separated by space :").split()))
print("Average:", sum(numbers11)/ len(numbers11))

Enter a number separated by space : 23 23 4

Average: 16.666666666666668

In [69]:
text11 = input("Enter a string")
consonants ="bcdfghjklmnpqrstvwxyz"
count = sum(1 for char in text .lower() if char in  consonants)
print("numbers of consonants :", count)

Enter a string abcdeh

numbers of consonants : 5

In [70]:
import string 
text11 = input("enter a string :")
if any(char in string .punctuation for char in text) :
    print("contains punction")
else:
    print("No punction")

enter a string : indrajeet

No punction

In [71]:
text55 = input("Enter a sentense :")
words = text55.split()
longest_word = max(words, key=len)
print("longest word :", longest_word)

Enter a sentense : My Name Is Indrajeet Thoke

longest word : Indrajeet